{% extends 'base_skinned.html' %}

{% block description %}{{post.description}}{% endblock %}
{% block keywords %}{{post.keywords}}{% endblock %}

{% block title %}{{meta_title}} - Blog - {{post.title}}{% endblock %}

{% block json_ld %}
{{post.json_ld|safe}}
{% endblock json_ld %}

{% block skin_css %}
{{ super() }}
<link  href="/static/unitegallery/css/unite-gallery.css" rel='stylesheet' type='text/css' />
{% endblock %}


{% block content %}
{% if post %}
    <div class="blog_post">
      <div class="blog_header">
        <h1><a href="{{ url('blog:post', args=[post.slug]) }}">{{post.title}}</a></h1>
        <div class="blog_date">
          {{ post.blog_start_dt.strftime("%d.%m.%Y") if post.blog_start_dt else '' }}
        </div>
      </div>
      <div class="blog_body">
        {{post.formatted_markdown|safe}}
      </div>
    </div>

    <div class="blog_post_after">
      {% if prev%}
        <h4><a href="{{ url('blog:post', args=[prev]) }}"> < Earlier </a></h4>
      {% endif %}     

      <h4><a href="{{ url('blog:list') }}">Blog Index</a></h4>
      {% if next%}
        <h4><a href="{{ url('blog:post', args=[next]) }}"> Later > </a></h4>
      {% endif %}     
    {% endif %}     
  </div>
  {% endblock content %}

{% block javascript %}
{{ super() }}
<script src="/static/unitegallery/js/unitegallery.js" type='text/javascript'  ></script>
<script src="/static/unitegallery/themes/tiles/ug-theme-tiles.js" type='text/javascript'></script>
<script type="text/javascript">
  var api;
  jQuery(document).ready(function(){

    api = jQuery("#gallery").unitegallery({
      gallery_theme: "tiles",
      //tile_enable_textpanel:true,
	    //tile_textpanel_title_text_align: "center"
	    //tiles_type: "nested",
	    tiles_type: "justified"
    });
  });
  </script>
{% endblock %}

