body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;

  font-size: 1rem;
  color: #232323;
  line-height: 1.25em;
  letter-spacing: initial;
}

a {
  color: #083c80;
}

.bg-primary {
  background-color: #da121a !important;
}

footer {
    color: white;  
    background-color: #da121a;
    margin: 0;
    padding: 2rem 3rem;
    text-align: left;
    font-size: 16px;
  }
  
  footer img {
    margin-top: -15px;
    margin-left: -5px;
  }
  
  footer .fa {
    margin: 10px 4px 0 0;
  }
  
  h3.footer, h4.footer,
  hr.footer {
    color: white !important;
    text-align: left;
  }
  
  footer h4.footer {
    font-size: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0;
  }
  
  footer .copy {
    font-size: 14px;
    text-align: center;
  }
  
  footer .terms {
    font-size: 14px;
    text-align: center;
  }
  
  footer .about {
    margin-top: 5px;
  }
  
  hr.solid {
    border-top: 1px solid #fff;
    margin: 1rem;
  }


footer li {
  color: #fcdd09;
  font-size: .84rem;
  line-height: 1.7;
}

footer li a{
  color: #fcdd09;
}
footer li a:hover{
  color: #fcdd09;
  text-decoration: none;
}

footer i,footer .copy {
  color: #fcdd09;
}








.nav-link, .nav-link a {
  color: #fcdd09 !important;
}

.navbar-collapse {
  flex-direction: column-reverse;
  width: 100%;
}

.navbar-expand-lg {
  flex-direction: column;
  align-items: flex-start;

}

.navbar {
  padding: 0;
  position: relative;
}

.navbar-brand {
  z-index: 2;
}

.nav-item {
  margin-right: 0;
}

.nav-img {
  position: absolute;
}


.nav-title {
  color: #fcdd09;
  font-family: "Neucha", cursive;
  font-size: 33px;
  text-transform: none;
  padding: 20px;
  margin: 5px 0 0 90px;
  line-height: 0.8;
}

.nav-img img {
  width: 90px;
  border-radius: 50%;
  float: left;
  margin: 5px 5px;  
  border: 2px #fcdd09 solid;
}

@media (min-width: 992px){
  .nav-title {
    font-size: 60px;
  }
  
  .search-box {
  width: 100%;
  height: 50px;
  position: absolute;
  right: 0;
  bottom: 0;  
  }
}

.search-box button {
  border: none;
  margin-left: -3rem;
  margin-right: 1rem;
  background-color: transparent;
  color: #f0555b;
}
.search-box input {
  background-color: #f0555b;
  color: #fcdd09;
}
.search-box input:focus {
  background-color: #f0555b;
  color: #fcdd09;
}
  

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #fff;
  text-align: left;
  list-style: none;
  background-color: #1a1a1a;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.dropdown-item, .dropdown-item:hover {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: #1a1a1a;
  border: 0;
}

h1, h2, h3 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: #fcdd09;
    text-transform: initial;
    letter-spacing: initial;
}

.h1, h1 {
  font-family: "Neucha", cursive;
  font-size: 1.375rem;
  margin-bottom: 1.563rem;
  color: #1a1a1a;
}
.h2, h2 {
  color: #fcdd09;
}
.h3, h3 {
  color: #1a1a1a;
}

.row {
  margin: 0;
}

.blog_content h4, .blog_content h5, .blog_content h6 {
  text-transform: initial;
  letter-spacing: initial;
  font-size: 1rem;
  background-color: #f0555b;
  color: #f0555b;
  display: inline-block;
  padding: 1rem;
  border-radius: 5px;
}

.blog_content h4:hover, .blog_content h5:hover, .blog_content h6:hover {
  background-color: #da121a;
  color: #fcdd09;
  text-decoration: none;
}

.blog_content h4 a, .blog_content h5 a, .blog_content h6 a {
  color: #fcdd09;
}
.blog_content h4 a:hover, .blog_content h5 a:hover, .blog_content h6 a:hover {
  color: #fcdd09;
  text-decoration: none;
}

.blog_content .blog_header {
  background-color: #0072bc33;
  border-radius: 5px;
  padding: 0.5rem 0;
}

.blog_post ol,.blog_post ul {
  margin-top: 0;
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.blog_post pre {
    font-size: 91.5%;
    color: #026684;
    text-align: left;
    background-color: #daf6ff;
   padding: 10px;
}

.breadcrumb {
  padding: .75rem 1rem;
  margin-bottom: 0;
  list-style: none;
  background-color: #f6f6f6;
  border-radius: 0;
}

.breadcrumb ol {
  padding-left: 0;
  margin-bottom: 0;
}
dl, ol, ul {
  margin-top: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li::after {
  content: "/";
  color: #7a7a7a;
  margin: .3125rem;
}

.breadcrumb li:nth-last-child(1)::after {
  content: "";
}

.breadcrumb li a {
  color: #232323;
}

.blog_content {
  background-color: #0072bc11;
  margin-top: 0;
  padding-bottom: 2rem;
}

.blog_post {
  max-width: 712px;
  text-align: center;
  background-color: white;
  margin: auto;
  margin-top: 0;
  margin-bottom: 1rem;
}

.blog_body {
  padding: 10px;
}

.blog_post p {
  text-align: left;
}


@media (min-width: 768px){
  .blog_post {
    border-radius: 5px;
  }
}


.blog_post img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.blog_post p {
}

.blog_post p a {
  color: #f0555b;
}


.blog_date {
  font-size: 0.8rem;
  font-family: "Neucha", cursive;
  padding-bottom: 0.5rem;
  margin-top: -1.5rem;
  margin-bottom: 0.5rem;
  color: #083c80;
}

.blog_post_after {
  text-align: center;
}

.footer-container {
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  overflow: hidden;
  box-shadow: 2px 2px 11px 0 rgba(0,0,0,.3);
}