{% extends "base.html" %}



{% set meta_title = 'Valencian Chronicles' %}

{% block skin_css %}
<link rel="stylesheet" href="/static/css/base_vallka.css">
<!-- link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon_vallka.ico" -->
{% endblock skin_css %}

{% block ga %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GEZJGB7EYT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-*********', { 'debug_mode':true });
</script>    
{% endblock ga %}

{% block header %} 
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="nav-img"><a class="" href="/"><img src="/static/images/paulina.jpg"></a></div>
    <div class="nav-title">Валенсийские Хроники</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarColor01">
        {% block header_nav %} 
        <ul class="navbar-nav mr-auto">
          {% for cat in categories %}
          <li class="nav-item">
            {% if cat.category[0]!='_' %}
              <a class="nav-link" href="{{ url( 'blog:post-by-cat', args=[cat.slug] )}}">{{cat.category}}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endblock header_nav %} 
        {% block header_search %} 
        <form class="form-inline search-box d-flex justify-content-lg-end" action="{{ url( 'blog:search'  )}}">
            <input name="q" class="form-control mr-sm-4" type="text" placeholder="Search Blog" value="{% if q %}{{q}}{% endif %}">
            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
         </form>
        {% endblock header_search %} 
        </div>
</nav>


{% endblock header %} 

{% block footer %}
<footer>
    <div class="container-fluid">
        <div class="row justify-content-start align-items-start">
            <div class="col-12">
              <h4 class="footer">Follow Me</h4>
              <a href="https://www.facebook.com/paulina.kulyukhina" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
              <a href="https://www.instagram.com/paulina_in_valencia/" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>
              <a href="https://t.me/ValencianChronicles" target="_blank"><i class="fa fa-2x fab fa-telegram"></i></a>
            </div>
        </div>
        </div>

    <div class="copy">© 2024 - vallencian-chronicles </div>
</footer>
{% endblock footer %}
